# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
.venv/

# Lock files
*.lock

# IDEs and editors
.vscode/
.idea/

# Sphinx documentation
docs/_build/

# Tests and coverage
.pytest_cache/
.tox/
.mypy_cache/
.coverage
coverage.xml

# Miscellaneous
.DS_Store
*.egg
*.zip
*.tar.gz

consignes*.md
generated*.md